@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-unactive {
  text-align: center;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.6;
  background: white;
  border: 0;
  border-radius: 5%;
}

.tab-active {
  text-align: center;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  color: blue;
  background: white;
  border: none;
  border-bottom: 2px solid blue;
}