@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  color: white;
}


.tabs {
  text-align: center;
  cursor: pointer;
  background: black;
  width: 50%;
  height: 3em;
}

.tab-active {
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  opacity: 90%;
}